<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <kauflandshipping>
                <active>1</active>
                <allowed_methods>kauflandshipping</allowed_methods>
                <methods>kauflandshipping</methods>
                <sallowspecific>0</sallowspecific>
                <model>M2E\Kaufland\Model\Magento\Shipping</model>
                <name>M2E Kaufland Connect Shipping</name>
                <title>M2E Kaufland Connect Shipping</title>
                <handling_type>F</handling_type>
            </kauflandshipping>
        </carriers>
        <payment>
            <kauflandpayment>
                <active>1</active>
                <model>M2E\Kaufland\Model\Magento\Payment</model>
                <order_status>pending</order_status>
                <title>M2E Kaufland Connect Payment</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </kauflandpayment>
        </payment>
    </default>
</config>
