<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Backend\Model\Menu\Config">
        <plugin name="kaufland_plugin_menu_magento_backend_model_menu_config"
                type="M2E\Kaufland\Plugin\Menu\Magento\Backend\Model\Menu\Config"/>
    </type>
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="kaufland_plugin_menu_magento_backend_model_menu_item"
                type="M2E\Kaufland\Plugin\Menu\Magento\Backend\Model\Menu\Item"/>
    </type>

    <type name="Magento\Config\Controller\Adminhtml\System\Config\Edit">
        <plugin name="kaufland_plugin_config_magento_config_controller_adminhtml_system_config_edit"
                type="M2E\Kaufland\Plugin\Config\Magento\Config\Controller\Adminhtml\System\Config\Edit"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="kaufland_plugin_config_magento_config_model_config"
                type="M2E\Kaufland\Plugin\Config\Magento\Config\Model\Config"/>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Data">
        <plugin name="kaufland_plugin_config_magento_config_model_config_structure_data"
                type="M2E\Kaufland\Plugin\Config\Magento\Config\Model\Config\Structure\Data"/>
    </type>

    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="m2e_kaufland_messages" xsi:type="array">
                    <item name="renderer" xsi:type="const">
                        \Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE
                    </item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">M2E_Kaufland::messages.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="kaufland_healthStatus_notification_magento_system_message" xsi:type="string">
                    M2E\Kaufland\Model\HealthStatus\Notification\Magento\System\Message
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="kaufland_plugin_heathStatus_magento_framework_app_frontController"
                type="M2E\Kaufland\Plugin\HealthStatus\Magento\Framework\App\FrontController"
                sortOrder="999"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="kaufland_plugin_order_magento_view"
                type="M2E\Kaufland\Plugin\Order\Magento\View"/>
    </type>

    <!-- ControlPanel -->

    <type name="M2E\Core\Model\ControlPanel\ExtensionCollection">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\Extension</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\TabCollection">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\TabProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\OverviewWidgetCollection">
        <arguments>
            <argument name="widgetProviders" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\OverviewWidgetProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\InspectionTaskCollection">
        <arguments>
            <argument name="taskProviders" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\InspectionTaskProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\ModuleToolsTabCollection">
        <arguments>
            <argument name="tabsProviders" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\ModuleToolsTabProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\CronTaskCollection">
        <arguments>
            <argument name="taskProviders" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\CronTaskProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="M2E\Core\Model\ControlPanel\DatabaseRegistryCollection">
        <arguments>
            <argument name="registry" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\ControlPanel\DatabaseRegistry</item>
            </argument>
        </arguments>
    </type>

    <!-- Dashboard -->

    <type name="M2E\Core\Model\Dashboard\DashboardDefinitionCollection">
        <arguments>
            <argument name="definitions" xsi:type="array">
                <item name="m2e_kaufland" xsi:type="object">M2E\Kaufland\Model\Dashboard\DashboardDefinition</item>
            </argument>
        </arguments>
    </type>
</config>
