<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>

        <!-- Kaufland Menu-->

        <add id="M2E_Kaufland::main" title="Kaufland" module="M2E_Kaufland" sortOrder="35"
             dependsOnModule="M2E_Kaufland" resource="M2E_Kaufland::main"/>

        <!-- Listing -->

        <add id="M2E_Kaufland::listings" module="M2E_Kaufland" sortOrder="10" parent="M2E_Kaufland::main"
             title="Listings" resource="M2E_Kaufland::listings"/>
        <add id="M2E_Kaufland::listings_items" module="M2E_Kaufland" sortOrder="10"
             parent="M2E_Kaufland::listings" title="Items" action="m2e_kaufland/kaufland_listing/index"
             resource="M2E_Kaufland::listings"/>
        <add id="M2E_Kaufland::listings_search" module="M2E_Kaufland" sortOrder="20"
             parent="M2E_Kaufland::listings" title="Search" action="m2e_kaufland/product_grid/allItems"
             resource="M2E_Kaufland::listings"/>
        <add id="M2E_Kaufland::listings_logs" title="Logs &#38; Events" module="M2E_Kaufland" sortOrder="20"
             parent="M2E_Kaufland::listings" action="m2e_kaufland/kaufland_log_listing_product/index"
             resource="M2E_Kaufland::listings_logs"/>

        <!-- Configuration -->

        <add id="M2E_Kaufland::configuration" module="M2E_Kaufland" sortOrder="20" parent="M2E_Kaufland::main"
             title="Configuration" resource="M2E_Kaufland::configuration"/>
        <add id="M2E_Kaufland::configuration_templates" title="Policies" module="M2E_Kaufland" sortOrder="10"
             parent="M2E_Kaufland::configuration" action="m2e_kaufland/kaufland_template/index"
             resource="M2E_Kaufland::configuration_templates"/>
        <add id="M2E_Kaufland::configuration_categories" title="Categories" module="M2E_Kaufland" sortOrder="20"
             parent="M2E_Kaufland::configuration" action="m2e_kaufland/kaufland_template_category/index"
             resource="M2E_Kaufland::configuration_category"/>
        <add id="M2E_Kaufland::configuration_mapping" module="M2E_Kaufland" sortOrder="25"
             parent="M2E_Kaufland::configuration" title="Mapping"
             action="m2e_kaufland/mapping/index"
             resource="M2E_Kaufland::configuration_mapping"/>
        <add id="M2E_Kaufland::configuration_accounts" title="Accounts" module="M2E_Kaufland" sortOrder="30"
             parent="M2E_Kaufland::configuration" action="m2e_kaufland/kaufland_account/index"
             resource="M2E_Kaufland::configuration_accounts"/>
        <add id="M2E_Kaufland::configuration_settings" title="Settings" module="M2E_Kaufland" sortOrder="40"
             parent="M2E_Kaufland::configuration" action="m2e_kaufland/settings/index"
             resource="M2E_Kaufland::configuration_settings"/>

        <!-- Sales -->

        <add id="M2E_Kaufland::sales" module="M2E_Kaufland" sortOrder="30" parent="M2E_Kaufland::main"
             title="Sales" resource="M2E_Kaufland::sales"/>
        <add id="M2E_Kaufland::sales_orders" module="M2E_Kaufland" sortOrder="10" parent="M2E_Kaufland::sales"
             title="Orders" action="m2e_kaufland/kaufland_order/index" resource="M2E_Kaufland::sales_orders"/>
        <add id="M2E_Kaufland::sales_logs" title="Logs &#38; Events" module="M2E_Kaufland" sortOrder="20"
             parent="M2E_Kaufland::sales" action="m2e_kaufland/kaufland_log_order/index"
             resource="M2E_Kaufland::sales_logs"/>

        <!-- Help center -->

        <add id="M2E_Kaufland::help_center" title="Help Center" module="M2E_Kaufland" sortOrder="40"
             parent="M2E_Kaufland::main" resource="M2E_Kaufland::help_center"/>
        <add id="M2E_Kaufland::help_center_health_status" title="Health Status" module="M2E_Kaufland" sortOrder="10"
             parent="M2E_Kaufland::help_center" action="m2e_kaufland/healthStatus/index"
             resource="M2E_Kaufland::help_center_health_status"/>
        <add id="M2E_Kaufland::help_center_synchronization_log" title="Synchronization Logs" module="M2E_Kaufland"
             sortOrder="20" parent="M2E_Kaufland::help_center" action="m2e_kaufland/synchronization_log/index"
             resource="M2E_Kaufland::help_center_synchronization_log"/>
        <add id="M2E_Kaufland::help_center_m2e_support" title="M2E Support" module="M2E_Kaufland" sortOrder="30"
             parent="M2E_Kaufland::help_center" action="m2e_kaufland/support/index"
             resource="M2E_Kaufland::help_center_m2e_support"/>

    </menu>

</config>
